name: Portfolio Action

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: 24f1001025@ds.study.iitm.ac.in
        run: echo "Hello from StaticShop!"
